* {
  box-sizing: border-box;
}

.sidebarArea {
  display: flex;
}

.sidebar {
  box-sizing: border-box;
  padding: 15px;
  background-color: rgb(47, 47, 47);
  width: 300px;
  height: 100vh;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.toggleBtn {
  border-style: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
}

.newChatBtn {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(95, 60, 255);
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
}

.openedChat {
  box-sizing: border-box;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.openedChatTitle {
  display: flex;
  align-items: center;
  width: 100%;
}

.openedChatLbl {
  color: white;
}

.saveChatBtn {
  border-style: none;
  min-width: 35px;
  height: 35px;
  background-color: transparent;
}

.deleteChatBtn {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  border-style: none;
  min-width: 35px;
  height: 35px;
  background-color: transparent;
}

.options {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  gap: 5px;
}

.optionBtn {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: white;
  display: flex;
  background-color: transparent;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.optionBtn:hover {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.1);
}

.optionIcon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 500px;
}
