.buttons {
  display: flex;
  gap: 10px;
}

.task {
  display: flex;
  background-color: rgba(95, 60, 255, 0.1);
  border: 2px solid rgba(95, 60, 255, 0.35);
  padding: 5px 10px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.task.completed {
  background-color: rgba(0, 163, 5, 0.1);
  border: 2px solid rgba(0, 163, 5, 0.25);
  transition: all 0.2s ease;
}

.task-title {
  margin: 2px 0px;
}

.task-corpus {
  color: rgba(255, 255, 255, 0.35);
}

.done-btn {
  border: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0px 40px;
  background-color: rgb(95, 60, 255);
}

.done-btn.completed {
  transition: all 0.2s ease;
  background-color: #00a305;
}
