.dropdown-toggle {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 5px 0px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  padding: 5px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  text-align: left;
}

.dropdown-content {
  margin: 5px 0px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
}
