:root {
  /*Global*/
  --bg-color: #242424;
  --accent-color: white;

  /*Text*/
  --text-color: white;
  --text-color-dark: black;
  --faded-text-color: rgba(255, 255, 255, 0.5);
  --text-color-small: rgba(255, 255, 255, 0.25);

  /*Other*/
  --hover-outline-color: rgba(255, 255, 255, 0.5);
  --faded-color: rgba(255, 255, 255, 0.1);
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Poppins';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  margin: 0px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  color: var(--text-color);
}

h2 {
  margin: 10px 0px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}

h3 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
}

label {
  margin: 0px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: var(--faded-text-color);
}

select {
  box-sizing: border-box;
  border-style: none;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--faded-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  text-align: start;
  line-height: 1.8em;
  color: var(--text-color);
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}

.appContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.chatAreaContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.modelInput {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  box-sizing: border-box;
  width: 25%;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: var(--faded-color);
  color: var(--text-color);
  transition: background-color 0.3s, border 0.3s;
}
